# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/local.properties
android/key.properties

# Generated
coverage/
